@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* leyout */
#mo-nav {
  display: none;
}
#header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #c6c6c6;
  background: #fff;
}
#banner {
  position: relative;
}
#opening { background: url('../images/bg01.jpg') no-repeat center top / cover; }
#new {}

/* text */
.tit {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2.8rem;
  /* background-color:rgba(0,0,0,0.4); */
  box-sizing: border-box;
}
.hide { text-indent: -9999em; }

/* 모바일 메뉴 */
.toggle-btn {
  display: block;
  width: 25px;
  height: 10px;
  padding: 1.5rem 0 1rem 1rem; 
}
.toggle-btn span {
  position: relative;
  display: block;
  width: 25px;
  height: 4px;
  background: #39106a;
}
.toggle-btn span::before,
.toggle-btn span::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 4px;
  background: #3a0e6a;
}
.toggle-btn span::before { bottom: -7px; }
.toggle-btn span::after { top: -7px; }


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.header .logo em {
  display: inline-block;
  padding: 1.5rem .8rem 1rem 0;
}
.header .logo em img { width: 155px; }
.header .logo strong {
  display: block;
  position: absolute;
  top: 17px;
  left: 195px;
}
.header .logo strong img { width: 150px; }
.header .nav ul {
  display: flex;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  box-sizing: border-box;
}
.header .nav ul li {
  width: 85px;
  text-align: center;
  border-right: 1px solid #c6c6c6;
  box-sizing: border-box;
}
.header .nav ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.8rem 1rem;
}

/* Banner */
.banner-menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}
.banner-menu a {
  font-size: 1.6rem;
  color: #fff;
}
.banner-menu a:hover { 
  color: #c1c1c1; 
  transition: color .3s;
}
.bm-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-menu .bm-left ul { 
  display: flex; 
  align-items: center;
}
.banner-menu .bm-left li {
  position: relative;
  margin-right: 3rem;
}
.banner-menu .bm-left ul li.total { margin-right: 2rem; }
.banner-menu .bm-left ul li.total a {
  font-size: 1.4rem;
  font-weight: 500;
  padding: .6rem 1rem;
  border: 1px solid #fff;
  transition: all .3s;
}
.banner-menu .bm-left ul li.total a:hover {
  color: #000; 
  background-color: #fff;
  border-color: #191919;
}
.banner-menu .bm-left ul li.total i { 
  margin-right: .3rem; 
 }

.banner-menu .bm-right {
  display: flex; 
  align-items: center;
}
.banner-menu .bm-right ul {
  display: flex; 
  align-items: center;
}
.banner-menu .bm-right li {
  position: relative;
  text-align: center;
  margin-right: 2rem;
}
.banner-menu .bm-right li.line { margin-right: 3rem; }
.banner-menu .bm-right li.white { margin-right: 1rem;}
.banner-menu .bm-right li.white a,
.banner-menu .bm-right li.purple a {
  width: 80px;
  font-weight: 500;
  padding: 1.4rem 2.8rem;
}
.banner-menu .bm-right li.white a {
  color: #38116a;
  border: 1px solid #38116a;
  background: #fff;
}
.banner-menu .bm-right li.purple { margin-right: 0; }
.banner-menu .bm-right li.purple a {
  color: #fff;
  background: #3a0e6a;
  border: 1px solid #6f2bc7;
}
.banner-menu li.line::after {
  content: '';
  position: absolute;
  top: 2px;
  right: -15px;
  width: 1px;
  height: 14px;
  background: #fff;
}

/* Swiper */
.banner-swiper-container { 
  width: 100%; 
  height: 600px;
}
.swiper-button-next, .swiper-button-prev,
.swiper-button-next, .swiper-button-next {
  color: #fff;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet { 
  background: rgba(255,255,255,0.6);
  cursor: pointer;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.slider .sl-img1 { background: url('../images/swiper01.jpg') no-repeat center center / cover;}
.slider .sl-img2 { background: url('../images/swiper01.jpg') no-repeat center center / cover;}
.slider .sl-img3 { background: url('../images/swiper01.jpg') no-repeat center center / cover;}
.slider .banner-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}
.slider .banner-slide .container {
  z-index: 10;
}
.slider .banner-slide h2 {
  display: inline-block;
  font-size: 6.2rem;
  color: #fff;
  line-height: 70px;
  margin-top: 20rem;
}
.slider .banner-slide h2 em::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 1px; 
  background: rgba(255,255,255,0.3);
}
.slider .banner-slide h2 em {
  display: block;
  font-size: 5.9rem;
  font-weight: 100;
  color: #c6c6c6;
}
.slider .banner-slide p {
  font-size: 2.7rem;
  color: #fff;
  padding-top: 6rem; 
}
.slider .banner-slide.swiper-slide-active h2 { animation: slide-ani 1s .2s both; }
.slider .banner-slide.swiper-slide-active h2 em { animation: slide-ani 1s .5s both; }
.slider .banner-slide.swiper-slide-active p { animation: slide-ani 1s .8s both; }
@keyframes slide-ani {
  0% { 
    opacity: 0;
    transform: translateY(30px);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}
.slider img {
  width: 100%;
}

/* Movie */
.movie {
  padding: 10rem 0;  
}
.movie-tit {
  margin-bottom: 6rem;
}
.movie-tit ul {
  display: flex;
  align-items: center;
  width: 840px;
  margin: 0 auto;
}
.movie-tit li {
  width: 210px;
  text-align: center;
  margin-right: -1px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.movie-tit li a {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 0;
  color: #666;
}
.movie-tit li.active a {
  color: #fff;
  background: #666;
}
.movie-chart > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-chart > div > div .chart-slide {
  width: 100%;
  max-width: 292px;
  height: auto;
  box-sizing: border-box;
}
.movie-chart .chart-slide .poster { position: relative; }
.movie-chart .chart-slide .poster figure img {
  display: block;
  width: 100%;
}
.movie-chart .chart-slide .poster .rank {
  position: absolute;
  top: 17px;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
  background: #38116a;
  box-shadow: 3px 3px 10px rgba(121, 79, 79, 0.5);
}
.movie-chart .chart-slide .poster .rank strong { 
  color: #fff; 
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.movie-chart .chart-slide .poster .mx {
  position: absolute;
  top: 17px;
  right: 17px;
}
.movie-chart .chart-slide .poster .mx span {
  display: block;
  width: 103px;
  height: 25px;
}
.movie-chart .chart-slide .poster .mx .m { background-position: 0 -75px; }
.movie-chart .chart-slide .poster .mx .b { background-position: 0 -100px; }
.movie-chart .chart-slide .info {
  padding: 1.7rem;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.movie-chart .chart-slide .info h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}
.movie-chart .chart-slide .info h3 span {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-top: .9rem;
  vertical-align: -.2rem;
}
.movie-chart .chart-slide .info h3 span.all { background-position: -87px -125px; }
.movie-chart .chart-slide .info h3 span.a15 { background-position: -0px -125px; }
.movie-chart .chart-slide .info h3 span.a12 { background-position: -29px -125px; }
.movie-chart .chart-slide .info h3 span.a19 { background-position: -58px -125px; }
.movie-chart .chart-slide .info .info-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-chart .chart-slide .info .info-btn a {
  width: 49%;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.5rem 0;
  background: #f2f2f2;
  box-sizing: border-box;
}

/* Event */
#event {
  position: relative;
  /* padding: 0 0 10rem 0; */
}
#event::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 500px;
  background: #503396;
}
.event {
  position: relative;
}
.event-banner-top { width: 100%; }
.event-banner-bottom { display: flex; width: 100%; }
.event-banner-bottom .big-banner { margin-right: 2rem; }
.event-banner-bottom .big-banner a,
.event-banner-bottom .sml-banner a,
.event-banner-right a { box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2); }
.event img,
.event-banner-bottom a,
.event-banner-right a { border-radius: 5px; }
.event-banner-right a {
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu-wrap { padding: 7rem 0; }
.menu-wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-wrap li {
  width: 20%;
}
.menu-wrap li.vip a { background: url('../images/vip_icon.png') no-repeat center 2px; }
.menu-wrap li.mem a { background: url('../images/membership_icon.png') no-repeat center 2px; }
.menu-wrap li.card a { background: url('../images/card_icon.png') no-repeat center 2px; }
.menu-wrap li.eve a { background: url('../images/event_icon.png') no-repeat center 2px; }
.menu-wrap li.store a { background: url('../images/store_icon.png') no-repeat center 2px; }
.menu-wrap li a {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 6rem 0 0;
}
.menu-wrap li a:hover { opacity: .8; }


/* Opening */
.opening {
  padding: 10rem 0;
  text-align: center;
  color: #bb9b51;
}

.opening h2 .grand {
  display: inline-block;
  width: 330px;
  height: 50px;
  background-position: 0 -175px;
}
.opening .date {
  background-position: 0 -225px;
  display: inline-block;
  width: 260px;
  height: 45px;
}
.opening .desc {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem;
  background: url('../images/bar.png') no-repeat bottom center / 100%; 
}
.opening .open-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3% 0 3%;
}
.opening .open-box > div {
  width: 27.333%;
  margin: 4% 3% 0 3%;
  background: rgba(0,0,0,0.5);
  border: 1px solid #3e4b44;
  box-sizing: border-box;
}
.opening .open-box > div h3 {
  display: inline-block;
  font-size: 1.9rem;
  color: #fff;
  padding: 1.5rem 2rem;
  margin-top: -2.4rem;
  background: #551e9b;
  border: 1px solid #6e3abb;
}
.opening .open-box > div p {
  font-size: 2.7rem;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  padding: 6% 0 10% 0;
}
.opening .open-box > div em { display: block;}
.opening .open-box > div strong {
  display: block;
  font-weight: 700;
}


/* New */
.new {
  position: relative;
  padding: 10rem 0;
}
.new .new-left {
  position: relative;
  margin-right: 42.3rem;
  height: 500px;
  background: #ccc url(../images/new01.jpg) no-repeat center center;
  background-size: cover;
}
.play .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  color: rgba(255,255,255,0.7);
  transition: color .3s;
}
.play .play-btn:hover { color: rgba(255,255,255,1); }

.new .new-right {
  position: absolute;
  top: 150px;
  right: 0;
  width: 400px;
  height: 500px;
  padding: 3.4rem;
  background: #f0f0f0;
  box-sizing: border-box;
}
.new-right .title {
  font-size: 2.8rem;
  color: #000;
  margin-bottom: .5rem;
}
.new-right .release {
  font-size: 1.2rem;
  color: #333;
}
.new-right .star {
  padding: 1.3rem 0;
}
.new-right .star strong {
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: .5rem;
}
.new-right .star span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -5px;
}
.new-right .star span.star1 { background-position: -393px 0; }
.new-right .star span.star2 { background-position: -412px 0; }
.new-right .star span.star0 { background-position: -374px 0; }
.new-right .summary { font-size: 1.4rem; }
.new-right .genre { padding-bottom: 1rem; }
.new-right .age { padding-bottom: 1rem;}
.new-right .summary .desc {
    height: 108px;
    margin-bottom: 20px;
    line-height: 1.5;
    overflow: hidden;
}
.new-right .select { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 }
.new-right .select .date {
  width: 49%;
  margin-right: 2%;
  background: #2c2f34;
}
.new-right .select .date .ui-select1 {
  width: 100%;
}
.new-right .select .time {
  width: 49%;
  background: #2c2f34;
}
.new-right .select .time .ui-select2 {
  width: 100%;
}
.new-right .select .text {
  width: 100%;
  margin-top: 2%;
  background: #2c2f34;
}
.new-right .select .text .ui-input3 {
  width: 100%;
}
.new-right .btn { 
  width: 100%;
  text-align: center;
  margin-top: 2%;
}
.new-right .btn a {
  display: inline-block;
  width: 48.9%;
  padding: 1rem 3rem 1.2rem 3rem;
  box-sizing: border-box;
}
.new-right .btn a.white {
  margin-right: 1%;
  color: #39106a;
  background: #fff; 
  border: 1px solid #3a0e6a;
}
.new-right .btn a.purple {
  color: #fff;
  background: #3a0e6a;
  border: 1px solid #6e40c4;
}


/* help */
.help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20rem;
}
.help article {
  width: 32%;
  height: 350px;
  /* margin-right: 2%; */
}
.help article > div {
  height: 350px;
  border: 1px solid #dbdbdb;
  /* box-sizing: border-box; */
}
.help article.help-box3 > div { border: 0; }
.help article h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

/* notice */
.notice { 
  position: relative;
  padding: 1.7rem; 
}
.notice ul { overflow: hidden; }
.notice > ul > li {
  float: left;
  text-align: center;
  margin-right: -1px;
}
.notice > ul > li > a {
  width: 80px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: #666;
  background: #f5f5f5;
  border: 1px solid #dbdbdb;
}
.notice > ul > li.active > a { background: #fff; }
.notice > ul > li > ul {
  position: absolute;
  top: 70px;
  left: 17px;
  width: 90%;
  font-size: 1.4rem;
}
.notice > ul > li > ul > li {
  text-align: left;
  padding: 1.7rem;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
}
.notice > ul > li > ul > li:last-child { border-bottom: none; }
.notice > ul > li > ul > li dt em { color: #999; }
.notice > ul > li > ul > li dt .bar { 
  position: relative; 
  padding-right: 1.4rem;
}
.notice > ul > li > ul > li dt .bar::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 3px;
  width: 1px;
  height: 10px;
  background: #999;
}
.notice > ul > li > ul > li dd {
  color: #777;
  padding-top: 5px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* card */
.card { padding: 1.7rem; }
.card ul li {
  position: relative;
  min-height: 105px;
  padding: 1.7rem;
  margin-bottom: 1.7rem;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}
.card ul li span {
  position: absolute;
  top: 17px;
  left: 17px;
}
.card ul li span img {
  width: 105px;
}
.card ul li strong {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  padding-left: 12rem;
  color: #777;
}
.card ul li em {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  padding-left: 12rem;
  color: #777;
}

/* service */
.service ul {
  overflow: hidden;
}
.service li {
  float: left;
  width: 50%;
  height: 193px;
  text-align: center;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}
.service li a > span {
  display: block;
  width: 100px;
  height: 120px;
  margin: 2rem auto 0 auto;
}
.service li a strong {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  margin-top: .5rem;
}
.service li a > span > span {
  display: block;
  width: 100px;
  height: 120px;
  text-align: center;
}
.service li a > span > span.icon1 { background-position: 0px 246px; }
.service li a > span > span.icon2 { background-position: -101px 246px; }
.service li a > span > span.icon3 { background-position: -201px 246px; }
.service li a > span > span.icon4 { background-position: -296px 246px; }
.service li:nth-child(1) { border-right: 0; border-bottom: 0; }
.service li:nth-child(2) { border-bottom: 0; }
.service li:nth-child(3) { border-right: 0; }




/* 반응형 */
@media screen and (max-width: 1290px){
  .swiper-button-next, .swiper-button-prev,
  .swiper-button-next, .swiper-button-next { display: none;}
  .slider .banner-slide h2 { padding-left: 20px; }
  .slider .banner-slide p { padding-left: 20px; }

  .event-banner-right a img { width: 415px; }
  .event-banner-bottom .big-banner img { width: 440px; }
  .event-banner-bottom .sml-banner img {  width: 204px; }
  .menu-wrap { padding: 7rem 0; }
  .menu-wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and (max-width: 1024px){
  #mo-nav { display: block;}
  .container { padding: 0 2.4rem; }
  .header .logo { margin: 0 auto; }
  .header .logo strong { left: 24px; }
  .header .nav { display: none; }

  .banner-menu .bm-left ul { display: none; }
  .banner-menu .bm-right ul:first-child { display: none; }
  .banner-menu .bm-right ul:nth-child(2) {
    position: absolute;
    bottom: -390px;
    left: 40px;
  }
  .banner-menu .bm-right li.white a, .banner-menu .bm-right li.purple a {
    width: 80px;
    padding: 2rem 3rem;
  }

  .event { width: 100%; }
  .event-banner-top { margin-bottom: 2rem; }
  .event-banner-top,
  .event-banner-bottom { display: flex; justify-content: center;}
  /* .event-banner-bottom .big-banner img { width: 100%; } */
  /* .event-banner-bottom .sml-banner img {  width: 100%; } */
  .event-banner-right { display: none; }

  .help { flex-wrap: wrap; }
  .help .help-box3 h3 { margin-top: 2.4rem; }
  .help article { height: auto; }
  .help article.help-box1,
  .help article.help-box2 {  width: 49%; }
  .help article.help-box3 { width: 100%; }
  .service { margin-top: 2rem; }
  .service li { width: 25%; }
  .service li:nth-child(1) { border-bottom: 1px solid #d7d7d7; }
  .service li:nth-child(2) { border-bottom: 1px solid #d7d7d7; border-right: 0;}
}

@media screen and (max-width: 960px){
  .banner-swiper-container { height: 500px; }
  .slider .banner-slide h2 { margin-top: 10rem; }
  .banner-menu .bm-right ul:nth-child(2) { bottom: -300px; }

  .movie-tit ul { width: auto; }
  .movie-tit li { width: 25%; box-sizing: border-box; }
  .movie-chart .chart-slide .poster {
    width: 100%;
    max-width: 292px ;
  }

  .opening .open-box {
    display: none;
  }

  .new .new-left {
    height: 400px;
    margin-right: 0;
  }
  .new .new-right {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
  }
  .new-right .btn a { width: 49%; }
}

@media screen and (max-width: 768px){
  body { background: #d9d7e0; }
  .container { padding: 0 1.6rem; }
  .header .logo { margin-left: 0; }
  .header .logo strong { display: none; }
  .banner-menu .bm-right ul:nth-child(2) {
    position: absolute;
    left: 35px;
    bottom: -280px;
  }
  .banner-menu .bm-right ul:nth-child(2) { bottom: -280px; }
  .banner-menu .bm-right li.white a,
  .banner-menu .bm-right li.purple a {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all .4s;
  }
  .banner-menu .bm-right li.white a::after,
  .banner-menu .bm-right li.purple a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: left .4s;
  }
  .banner-menu .bm-right li.white a:hover::after,
  .banner-menu .bm-right li.purple a:hover::after {
    left: 0;
    z-index: -1;
  }
  .banner-menu .bm-right li.white a:hover,
  .banner-menu .bm-right li.purple a:hover {
    color: #191919;
    z-index: 10;
  }
  .slider .banner-slide h2 {
    line-height: 50px;
    margin-top: 150px;
  }
  .slider .banner-slide h2 em {
    display: block;
    font-size: 3.2rem;
    font-weight: 100;
    color: #c6c6c6;
  }
  .slider .banner-slide h2 em::after { bottom: -10px; }
  .slider .banner-slide p {
    font-size: 2.7rem;
    color: #fff;
    padding-top: 3rem; 
  }
  .slider .sl-img1 { background: url('../images/swiper01.jpg') no-repeat 55% 100% / cover;}
  .slider .sl-img2 { background: url('../images/swiper01.jpg') no-repeat center center / cover;}
  .slider .sl-img3 { background: url('../images/swiper01.jpg') no-repeat center center / cover;}
  
  #movie { margin: 2.4rem; }
  #movie .container { 
    background: #fff;
    padding: 2.4rem;
  }
  .movie { padding: 0; }
  #movie .ir-so {
    position: static;
    width: auto;
    height: auto;
    line-height: normal;
    text-indent: 0;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  .movie-tit { margin-bottom: 4rem; }
  .movie-tit ul {
    position: relative; 
    width: auto; 
  }
  .movie-tit ul::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #e1e1e1;
  }
  .movie-tit li { 
    position: relative; 
    width: auto; 
    margin-right: 3.5rem;
    border: 0;
  }
  .movie-tit li.active a::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #666;
  }
  .movie-tit li a {
    font-weight: 400;
    color: #666;
    padding: 0;
  }
  .movie-tit li.active a { background: none; color: #666; }

  #event .container { padding: 2.4rem; }
  .event h2 { 
    font-size: 2.4rem; 
    font-weight: 700;
    margin-top: 2rem;
  }
  .event-banner-top a { width: 500px; }
  .event-banner-top,
  .event-banner-bottom { justify-content: start; }
  .event-banner-top img { width: 100%; }
  .event-banner-bottom .big-banner a img,
  .event-banner-bottom .sml-banner a img { width: 100%; }

  #new { margin: .8rem; }
  .new { 
    padding: 2.4rem;
    margin-top: 2.4rem;
    background: #fff; 
  }
  .new .tit {
    height: 27px;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  .new .new-left { height: 300px; }
  .new .new-right { padding: 1.7rem; }
  .new .new-right .title { font-size: 2.2rem; }
  .new .new-right .star { padding: 1rem 0; }
  .new-right .summary .desc { font-size: 1.6rem; }
  .new .new-right .select .date { 
    width: 100%; 
    margin-bottom: 2%; 
    margin-right: 0; 
  }
  .new .new-right .select .time { width: 100%; }
  
  #help .container { padding: 2.4rem; }
  .help article h3 {
    height: 27px;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  .help .help-box3 h3 { display: none; }
  .help article.help-box1,
  .help article.help-box2,
  .help article.help-box3 { 
    width: 100%; 
    padding: 2.4rem; 
    background: #fff;
  }
  .help article.help-box2,
  .help article.help-box3 { margin-top: 2.4rem; }
  .help article.help-box3 { padding: 0; }
  .help article.help-box1 > div { height: 290px;}
  .help article.help-box3 > div { height: auto;}
  .card ul li strong,
  .card ul li em { 
    padding-left: 14rem; 
    line-height: 1.5;
    transform: translateY(50%);
  }

  .service li { height: 150px; transform: translateY(-25%);}
  .service li,
  .service li:nth-child(1),
  .service li:nth-child(2) { border: 0px; }
}

@media screen and (max-width: 480px) {
  #header .container { padding: 0 .8rem; }
  .container { padding: 0; }
  #movie,
  #new { margin: .8rem; }
  #movie .container { padding: 1.6rem; }
  #movie .ir-so { font-size: 2rem; }
  .movie-tit li a { font-size: 1.5rem; }
  .movie-tit li { margin-right: 2rem; }
  .movie-chart .chart-slide .info h3 { padding: .5rem; }
  .movie-chart .chart-slide .info h3 span { display: none; }
  .movie-chart .chart-slide .info h3 strong {
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    color: #222;
  }
  .movie-chart .chart-slide .info .info-btn { justify-content: center;}
  .movie-chart .chart-slide .info .info-btn a {
    width: 80%;
    text-align: center;
  }
  .movie-chart .chart-slide .info .info-btn a:last-child { display: none; }

  #event { margin: .8rem; }
  #event::before { top: 300px; }
  #event .container { padding: 0; }
  .event {
    padding: 1.6rem;
    background: #fff;
    box-sizing: border-box;
  }
  .event h2 { font-size: 2rem; }

  .menu-wrap { margin: 0 1rem; padding: 3rem 0;}
  .menu-wrap li { 
    transform: translateY(-10%);
  }
  /* .menu-wrap li:last-child { margin-right: 0; } */
  .menu-wrap li a {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 6rem 0 0;
  }
  .menu-wrap li.vip a,
  .menu-wrap li.mem a,
  .menu-wrap li.card a,
  .menu-wrap li.eve a,
  .menu-wrap li.store a { background-position: center center; }
  
  .menu-wrap li.vip a,
  .menu-wrap li.card a,
  .menu-wrap li.eve a,
  .menu-wrap li.store a { background-size: 30px; }
  .menu-wrap li.mem a { background-size: 25px; }

  .opening { padding: 3rem 0; }
  .opening h2 .grand {
    background-size: 200px;
    background-position: 0 -70px;
    width: 131px;
    height: 16px;
    margin-bottom: 1rem;
  }
  .opening .date { display: none; }
  .opening .desc {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0% 12% 0% 12%;
    background-size: 0px;
  }

  .new { padding: 1.6rem; margin-top: .8rem; margin-bottom: 0; }
  .new .tit { font-size: 2rem; margin: 0; padding-bottom: 2rem; }
  .new-right .btn a { width: 48.8%; }

  #help .container { padding: 0 .8rem .8rem .8rem; }
  .card ul li strong, .card ul li em { line-height: 1.2; }
  .service { margin-top: 0; border: 1px solid #d7d7d7; }
  .service li { 
    width: 50%;
    height: 193px;
    border: 1px solid #d7d7d7; 
    transform: translateY(0);
  }
  .service li, .service li:nth-child(1), .service li:nth-child(2) {
    border: 1px solid #d7d7d7;
    border-right: 0;
    border-bottom: 0;
  }
  .help article.help-box2, 
  .help article.help-box3 { margin-top: .8rem; }

}